/**
 * LoginView styles.
 */
 
div.mainColumnWrap {
	border-radius: 2px;
	margin: 10px 10% 10% 10%;
	min-height: 20%;
	min-width: 435px;
	height:auto;
	width: 80%;
	border: thin solid rgba(0,0,0,.3);
	background-color: #E7E8E8;
	padding:15px;
	box-shadow: 0px 1px 4px 4px rgba(200,200,255, .7);
}
div.mainColumn {
	font-size:15px;
	height: auto;
	width: 100%;
	color:#333;
	text-shadow: 0px 1px 1px white;
}
div.BannerWrap {
	width:220px;
	margin:0 auto 10px auto;
}
div.Banner {
	font-family: georgia;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 50px;
	text-shadow: 0px 2px 3px #CCC;
	font-weight:100;
}

span.bannerText1 {
	color: #666;
}
span.bannerText2 {
	color: #999;
}

.mainColumn .welcome {
	font-size:35px;
	font-weight: 100;
	color: #666;
	text-shadow: 0px 2px 3px #BBB;
}

.loginForm {
	margin: 20px 20px 20px 0px;
}

.welcomeDesc {
	margin: 10px 10px 10px 0;
}

.loginForm span.usrnameLabel { 
	margin-top:2px;
	width: 120px;
}

.loginForm span.passLabel {
	margin-top:2px;
	width: 120px;
}

.errorPopup {
	display: none;
	width: 90%;
	margin: 10px 0 10px 0;
	padding: 4px;
	border-radius: 3px;
	border: thin solid #666;
	background-color: rgba(255, 150, 150, .5);
}

.errorTitle {
	font-size: 16px;
}