/**
 * RegistrationView styles.
 */

/* The main column stuff */
div.mainColumnWrap {
	border-radius: 2px;
	margin: 10px 10% 10% 10%;
	min-height: 20%;
	min-width: 435px;
	height:auto;
	width: 80%;
	border: thin solid rgba(0,0,0,.3);
	background-color: #E7E8E8;
	padding:15px;
	box-shadow: 0px 1px 4px 4px rgba(200,200,255, .7);
}
div.mainColumn {
	font-size:15px;
	height: auto;
	width: 100%;
	color:#333;
	text-shadow: 0px 1px 1px white;
}

/* Bannar Stuff */
div.BannerWrap {
	width:220px;
	margin:10px auto 10px auto;
}
div.Banner {
	font-family: georgia;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 50px;
	text-shadow: 0px 2px 3px #CCC;
	font-weight:100;
}
span.bannerText1 {
	color: #666;
}
span.bannerText2 {
	color: #999;
}

/* Registration text stuff */
.mainColumn .register {
	font-size:35px;
	font-weight: 100;
	color: #666;
	text-shadow: 0px 2px 3px #BBB;
}
.registerDesc {
	margin: 10px 10px 10px 0;
}

/* Registration form stuff */
.registerForm {
	margin: 20px 20px 20px 0px;
}
.registerForm span.clubNameLabel { 
	margin-top:2px;
	width: 120px;
}
.registerForm span.passLabel {
	margin-top:2px;
	width: 120px;
}
.registerForm span.addLabel {
	margin-top:2px;
	width: 120px;
}
.registerForm span.cityLabel {
	margin-top:2px;
	width: 120px;
}
.registerForm span.provinceLabel {
	margin-top:2px;
	width: 120px;
}
.registerForm span.postalLabel {
	margin-top:2px;
	width: 120px;
}
.registerForm span.phoneLabel {
	margin-top:2px;
	width: 120px;
}
.registerForm span.emailLabel {
	margin-top:2px;
	width: 120px;
}
div.registrationHr {
	display: block;
	margin: 10px 2px 10px 0px;
	padding: 10px 0px 10px 0px;
	width: 73%;
	border: 1;
}
.registerForm input {
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	display: block;
	margin: 0px 2px 10px 10px;
	white-space: nowrap;
	overflow: hidden;
	width: 60%;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,150,.15);
	padding: 4px;
	-webkit-border-radius: 3px;
	border: #999 thin solid;
	font-size: 14px;
	background-color: rgba(195,195,255, .3);
	-webkit-transition: background-color .25s ease-in;
	line-height: 1.5;
}
.registerForm input:focus {
	background-color: rgba(255,255,255, .5);
}