/**
 * This is the css file that will be included into all html files.
 * only put the most core styles in here....nothing specific to a view.
 */
body {
	font: 12px Helvetica, sans-serif;
	min-width:950px;
	width: 100%;
	height: 100%;
	background: repeat url("../images/bg_stripes.png");
	background-color: rgba(255,255,255,.8);
	font-weight:100 !important;
}

.underlay {
	min-height:100%;
	height:auto;
	width:100%;
	background-color: rgba(0,0,0,.05);
}	

a.link {
	padding: 2px;
	color: #666;
	border-bottom: 1px solid #666;
	cursor: pointer;
}

a.link:hover {
	border-bottom: 1px dashed #999;
}

span.label {
	float: left;
	display:inline-block;
}

input.formInputBox {
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	display: block;
	margin: 0px 2px 10px 10px;
	white-space: nowrap;
	overflow: hidden;
	width: 60%;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,150,.15);
	padding: 4px;
	-webkit-border-radius: 3px;
	border: #999 thin solid;
	font-size: 14px;
	/* background-color: rgba(195,195,255, .3); */
	background-color: rgb(230, 230, 255);
	-webkit-transition: background-color .25s ease-in;
	line-height: 1.5;
}

input.formInputBox:focus {
	/* background-color: rgba(255,255,255, .5); */
	background-color: rgb(245,245,255);
}


/***************************** DIALOG CSS ********************************/

.dialogBody {
	display:none;	
}

.ui-dialog-titlebar.ui-widget-header {
	border: none;
	border-bottom: thin solid #AAA;
	box-shadow: rgba(0,0,0,.3) 0px 1px 2px 1px;
	-webkit-box-shadow: rgba(0,0,0,.3) 0px 1px 2px 1px;
	border-radius: 2px 2px 0 0px;
}

.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-draggable.ui-resizable {
	box-shadow: rgb(102, 102, 102) 0px 0px 16px 0.5px;
	-webkit-box-shadow: rgb(102, 102, 102) 0px 0px 16px 0.5px;
	padding:0;
}

.ajaxLoading{
	background: url("../images/ajaxLoading.gif") no-repeat center center;
	width:24px;
	height:24px;
	margin:15px auto 15px auto;
}

/** Button css overrides **/

a.button, button {
	font-family: inherit;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}