/**
 * This is the css file that will be included into all html files.
 * only put the most core styles in here....nothing specific to a view.
 */
body {
	font: 12px Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	background: repeat url("../images/bg_stripes.png");
	background-color: rgba(255,255,255,.8);
	font-weight:lighter;
}

.underlay {
	min-height:100%;
	height:auto;
	width:100%;
	background-color: rgba(0,0,0,.05);
}	

a.link {
	padding: 2px;
	color: #666;
	border-bottom: 1px solid #666;
	cursor: pointer;
}

a.link:hover {
	border-bottom: 1px dashed #999;
}

span.label {
	float: left;
	display:inline-block;
}

input.formInputBox {
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	display: block;
	margin: 0px 2px 10px 10px;
	white-space: nowrap;
	overflow: hidden;
	width: 60%;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,150,.15);
	padding: 4px;
	-webkit-border-radius: 3px;
	border: #999 thin solid;
	font-size: 14px;
	background-color: rgba(195,195,255, .3);
	-webkit-transition: background-color .25s ease-in;
	line-height: 1.5;
}

input.formInputBox:focus {
	background-color: rgba(255,255,255, .5);
}


/** Button css overrides **/

a.button, button {
	font-family: inherit;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}