body {
	font: 12px Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	background: repeat url("../images/bg_stripes.png");
	background-color: rgba(255,255,255,.8);
}

.underlay {
	margin-top: -10px; /* why do i have to do this? */
	height:100%;
	width:100%;
	background-color: rgba(0,0,0,.09);
}	

a.link {
	padding: 2px;
	color: #666;
	border-bottom: 1px solid #666;
	cursor: pointer;
}

a.link:hover {
	border-bottom: 1px dashed #999;
}
