.titleBox {
	width: 100%;
}

.notifLabel {
	margin: 5px 5px 0 0;
}
.titleInput {
	width: 83% !important;
}
.notifInput {
	max-width:100%;
	width: 100%;
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	display: block;
	margin: 10px 0px 10px 0px;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,150,.15);
	padding: 4px;
	-webkit-border-radius: 3px;
	border: #999 thin solid;
	font-size: 14px;
	/* background-color: rgba(195,195,255, .3); */
	background-color: rgb(230, 230, 255);
	-webkit-transition: background-color .25s ease-in;
	line-height: 1.5;
}
.notifInput:focus {
	/* background-color: rgba(255,255,255, .5); */
	background-color: rgb(245,245,255);
}
.removeButton{
	float:right;
}
#dayControls{
	padding:10px;
}
.removeButton span.icon.trash{
	margin:0;
	top:0;
}

/* Tracks tab*/
.trackRow {
	background-color:#FFFFFF;
	text-shadow: 0px 1px 0px #FFF;
	display: inline-block;
	border:thin solid #AAA;
	border-radius: 3px;
	margin: 0 5px 0 5px;
	padding: 2px 2px 2px 2px;
	box-shadow: 0px 1px 4px 4px rgba(200,200,255, .7);
}
div.trackTopRowWrap {
	width: 99%;
	height: 50%;
	min-width: 50%;
	margin-top: 10px;
}
div.trackTopRow {
	float: left;
	width: 100%;
	/*height: 100%;*/
}
div.trackBottomRowWrap {
	width: 99%;
	height: 50%;
	min-width: 50%;
	margin-top: 10px;
	
}
div.trackBottomRow {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	/*height: 100%;*/
}
div.trackHr {
	display: block;
	margin: 20px 0px 10px 0px;
	padding: 40px 5px 10px 5px;
	width: 98%;
	border: 1;
}

div.trackHeader {
	font-family: georgia;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 25px;
	text-shadow: 0px 2px 3px #CCC;
	font-weight:100;
	margin-bottom:10px;
}

.trackForm span.trackLabel {
	margin-top:2px;
	width: 120px;
}

.trackForm input {
	width: 30%;
}

span.trackText1 {
	color: #666;
}
span.trackText2 {
	color: #999;
}

.trackSelect select {
   background: transparent;
   width: 75px;
   padding: 0px;
   margin: 5px;
   font-size: 14px;
   border: 1px solid #ccc;
   height: 100%px;
   display: block;
}

/* Fee tab*/
.feeForm {
	margin: 20px 20px 20px 0px;
}

.feeForm span.feeLabel {
	margin-top:2px;
	width: 120px;
}

.feeForm input {
	width: 30%;
}

span.trackText1 {
	color: #666;
}
span.trackText2 {
	color: #999;
}

.feeSelect select {
   background: transparent;
   width: 200px;
   padding: 0px;
   margin: 5px;
   font-size: 14px;
   border: 1px solid #ccc;
   height: 100%px;
   display: block;
}

/* Message stuff */
.warningPopup {
	display: none;
	width: 90%;
	margin: 10px 0 10px 0;
	padding: 4px;
	border-radius: 3px;
	border: thin solid #666;
	background-color: rgba(250, 250, 0, .5);
}

.successPopup {
	display: none;
	width: 90%;
	margin: 10px 0 10px 0;
	padding: 4px;
	border-radius: 3px;
	border: thin solid #666;
	background-color: rgba(0, 250, 90, .5);
}

.warningTitle {
	font-size: 16px;
}

.filterLbl {
	font-size:15px !important;	
	margin:6px 5px 5px 10px !important;
}

.clubSearchBox {
	width: 40% !important;
	font-size:15px !important;	
	margin:10px 0 5px 10px !important;
}

.errorDesc {
	white-space:normal;
}
