/*
 * CSS for the club view.
 */

/* Payment tab stuff */
.paymentRow {
	padding: 5px 0 0 5px;
	background-color:#FFFFFF;
	text-shadow: 0px 1px 0px #FFF;
	display: inline-block;
	border:thin solid #AAA;
	border-radius: 3px;
	margin: 0 5px 0 5px;
	padding: 2px 2px 2px 2px;
	box-shadow: 0px 1px 4px 4px rgba(200,200,255, .7);
	-webkit-box-shadow: 0px 1px 4px 4px rgba(200,200,255, .7);
	
}
div.paymentTopRowWrap {
	width: 99%;
	height: 50%;
	min-width: 50%;
}
div.paymentTopRow {
	float: left;
	width: 100%;
	/*height: 100%;*/
}
div.paymentBottomRowWrap {
	width: 99%;
	height: 45%;
	min-width: 45%;
	margin-top: 20px;
}
div.paymentBottomRow {
	float: left;
	width: 100%;
	margin-bottom: 30px;
	/*height: 100%;*/
}
div.paymentHr {
	display: block;
	margin: 20px 0px 10px 0px;
	padding: 40px 5px 10px 5px;
	width: 98%;
	border: 1;
}
/* Payment font stuff */
div.paymentHeader {
	font-family: georgia;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 25px;
	text-shadow: 0px 2px 3px #CCC;
	font-weight:100;
	margin-bottom:10px;
}

div.paymentBalanceHeader {
	font-family: georgia;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 25px;
	text-shadow: 0px 2px 3px #CCC;
	font-weight:100;
	margin-bottom:10px;
}

.paymentForm span.paymentLabel {
	margin-top:2px;
	width: 120px;
}

.paymentForm input {
	width: 30%;
}


span.paymentText1 {
	color: #666;
}
span.paymentText2 {
	color: #999;
}

.makeBooking {
	padding:10px;
}

/* Booking form stuff */
.bookingForm {
	margin: 20px 20px 20px 0px;
}
.bookingForm span.dayLabel { 
	margin-top:2px;
	width: 120px;
}
.bookingForm span.startLabel {
	margin-top:2px;
	width: 120px;
}
.bookingForm span.endLabel {
	margin-top:2px;
	width: 120px;
}
.bookingForm span.commentLabel {
	margin-top:2px;
	width: 120px;
}
.bookingForm span.recurringLabel {
	margin-top:2px;
	width: 120px;
}
div.bookingHr {
	display: block;
	margin: 10px 2px 10px 0px;
	padding: 10px 0px 10px 0px;
	width: 73%;
	border: 1;
}
.bookingForm input {
	width: 40%;
}
.bookingSelect select {
   background: transparent;
   width: 75px;
   padding: 0px;
   margin: 5px;
   font-size: 14px;
   border: 1px solid #ccc;
   height: 100%px;
   display: block;
}

/* Error stuff */
.errorPopup {
	display: none;
	width: 90%;
	margin: 10px 0 10px 0;
	padding: 4px;
	border-radius: 3px;
	border: thin solid #666;
	background-color: rgba(255, 150, 150, .5);
}

.errorTitle {
	font-size: 16px;
}

.errorDesc {
	white-space: normal;	
}
}

#leftAccordion {
	padding-top:10px;
}

table.profileTbl {
	margin-top:10px;
}

span.profileInformation {
	font-size:14px;
	margin-bottom:10px;
}

span.profileTitle {
	padding-left:10px;
	font-size:16px;
}

.editBtn {
	margin : 10px 0 10px 10px;
}
.removeButton{
	float:right;
}
#dayControls{
	padding:10px;
}
.removeButton span.icon.trash{
	margin:0;
	top:0;
}
.futureLastColumn{
	text-align:right;	
}
.removebutton {
	float: right;
}
