/*
 * CSS for the club view.
 */

/* Payment tab stuff */
.paymentColumn {
	background-color:#FFFFFF;
	text-shadow: 0px 1px 0px #FFF;
	display: inline-block;
	border:thin solid #AAA;
	border-radius: 3px;
	margin: 0 5px 0 5px;
	padding: 2px 2px 2px 2px;
	box-shadow: 0px 1px 4px 4px rgba(200,200,255, .7);
}
div.paymentLeftColumnWrap {
	width: 55%;
	height: 100%;
	min-width: 55%;
}
div.paymentLeftColumn {
	float: left;
	width: 100%;
	height: 100%;
}
div.paymentRightColumnWrap {
	width: 40%;
	height: 100%;
	min-width: 40%;
}
div.paymentRightColumn {
	float: left;
	width: 100%;
	height: 100%;
}
/* Payment font stuff */
div.paymentHeader {
	font-family: georgia;
	-khtml-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	font-size: 25px;
	text-shadow: 0px 2px 3px #CCC;
	font-weight:100;
	margin-bottom:10px;
}

span.paymentText1 {
	color: #666;
}
span.paymentText2 {
	color: #999;
}

/* Booking form stuff */
.bookingForm {
	margin: 20px 20px 20px 0px;
}
.bookingForm span.dayLabel { 
	margin-top:2px;
	width: 120px;
}
.bookingForm span.startLabel {
	margin-top:2px;
	width: 120px;
}
.bookingForm span.endLabel {
	margin-top:2px;
	width: 120px;
}
.bookingForm span.commentLabel {
	margin-top:2px;
	width: 120px;
}
div.bookingHr {
	display: block;
	margin: 10px 2px 10px 0px;
	padding: 10px 0px 10px 0px;
	width: 73%;
	border: 1;
}
.bookingForm input {
	font-weight: inherit;
	font-style: inherit;
	font-family: inherit;
	display: block;
	margin: 0px 2px 10px 10px;
	white-space: nowrap;
	overflow: hidden;
	width: 40%;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,150,.15);
	padding: 4px;
	-webkit-border-radius: 3px;
	border: #999 thin solid;
	font-size: 14px;
	background-color: rgba(195,195,255, .3);
	-webkit-transition: background-color .25s ease-in;
	line-height: 1.5;
}
.bookingSelect select {
   background: transparent;
   width: 75px;
   padding: 0px;
   margin: 5px;
   font-size: 14px;
   border: 1px solid #ccc;
   height: 100%px;
   display: block;
}

/* Error stuff */
.errorPopup {
	display: none;
	width: 90%;
	margin: 10px 0 10px 0;
	padding: 4px;
	border-radius: 3px;
	border: thin solid #666;
	background-color: rgba(255, 150, 150, .5);
}

.errorTitle {
	font-size: 16px;
}
