.underlay {
	margin:0;
}

div.BannerWrap {
	font-size: 35px;
	font-weight: 100;
	color: #666;
	text-shadow: 0px 2px 3px #BBB;
	font-size:30px;
	width: 98%;
	padding: 3px;
	margin:0px auto 0 10px;
}

.logoutBtn {
	float:right;
}

.column {
	background-color:white;
	text-shadow: 0px 1px 0px #FFF;
	display: inline-block;
	margin: 0 5px 0 5px;
	box-shadow: 0px 1px 4px 4px rgba(200,200,255, .3);
}

div.leftColumnWrap {
	border: thin solid #AAA;
	border-radius:3px;
	width: 25%;
	min-width: 270px;	
	height:90%;
	overflow: auto;
}

div.leftColumn {
	float: left;
	width: 100%;
	height: 100%;
}

div.rightColumnWrap {
	border:none;
	width: 73%;
	height:90%;
	min-width:540px;
}

div.rightColumn {
	float:right;
	width:100%;
	height:100%;
}

div.leftAccordion {
	height: 100%;
}

.notificationsTitle {
	font-size:14px;
	display:block;
	margin: 0 0 10px 10px;
}

.notification {
	overflow:hidden;
	border-top: thin solid #AAA;
	padding: 3px;
	background-color: rgba(200, 200, 255, .5);
	box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
	-webkit-transition: background-color .15s ease-in;
}

.notification:hover {
	background-color: rgba(240,240,255, .8);
}

.notificationsBox {
	list-style-type:none;
}

.notificationsBox .date {
	display:block;
	font-size:11px;
	color:blue;
}

.notificationsBox .title {
	display: block;
	font-size: 13px;
	text-decoration: underline;
	margin-bottom: 2px;
}

.rightColumn #rightTabs {
	height: 99%;
}

.ui-tabs {
	overflow:auto;
}

#tabs.ui-tabs.ui-widget {
	height:100%;
}

table { 
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
table th, table td {
    padding : 4px;
}
table th{
    border-bottom: 2px solid lightblue;
    font-weight:bold;
}
table tbody tr:nth-child(odd) {
	-webkit-transition: background-color .15s ease-in;
    background-color:#EFF2FF;
}
table tbody tr:hover {
    background-color:lightblue;
    color: #333;
}
