.underlay {
	margin:0;
}

div.BannerWrap {
	font-size:30px;
	width:220px;
	padding: 5px;
	margin:0px auto 0 10px;
	height:35px;
}

.column {
	background-color:#E7E8E8;
	text-shadow: 0px 1px 0px #FFF;
	display: inline-block;
	border:thin solid #AAA;
	border-radius: 3px;
	margin: 0 5px 0 5px;
	box-shadow: 0px 1px 4px 4px rgba(200,200,255, .7);
}

.column.leftColumnWrap {
	width: 25%;
	min-width: 200px;	
	height:95%;
}

div.leftColumn {
	float: left;
	width: 100%;
	height: 100%;
}

div.rightColumnWrap {
	border:none;
	width: 69%;
	height:95%;
	min-width:540px;
}

div.rightColumn {
	float:right;
	width:100%;
	height:90%;
}

.ui-tabs .ui-tabs-panel {
	height:100%;
}
